.ArticleDetails {
    min-height: 100%;
}

.Loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.articleInfo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.avatarWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}