.app.dark {
  --bg-color: #080853;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #04ff68;

  --inverted-primary-color: #042eaa;
  --inverted-secondary-color: #00236f;
}
